.root {
  cursor: pointer;

  display: flex;
  gap: 10px;
  align-items: center;

  padding: 8px;

  transition: background-color 0.2s ease;
}

.root:hover {
  background-color: #ece8e872;
  border-radius: 8px;
}

.rootActive,
.rootActive:hover,
.root:active {
  background-color: #6ce98b8f;
  border-radius: 8px;
}

.avatar {
  overflow: hidden;

  aspect-ratio: 1;
  width: 50px;

  background-color: azure;
  border-radius: 50%;
}

.name {
  font-size: 18px;
  font-weight: 600;
}
